<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InterviewHomework">
    <test name="InterviewHomework">
        <classes>
            <class name="InterviewHomeworkTests">
                <methods>
                    <!-- <include name="testWikiaLogin" /> -->
                    <include name="testWikiaVideoAdd" />
                </methods>
            </class>
        </classes>
    </test>
</suite>